/* RESET */
* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  outline: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 226, 198);
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* --------------------- */

/* HEADER */

header .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  a {
    display: flex;
    text-decoration: none;
    align-items: center;
  }

  img {
    width:350px;
    margin-right: 2rem;
  }

  h1 {
    font-size: 3rem;
    font-family: monospace;
    color: rgb(216, 140, 27);
  }
}

header .faixa {
  background-color: coral;
  margin-top: 20px;
}

header .container {
  display: flex;
  flex-direction: row;

  .menu {
    width: 960px;
    text-align: center;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
        // display: inline-block;
        padding: 20px 0;
  
        a {
          text-decoration: none;
          color: aliceblue;
          padding: 21px 50px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          margin: 0 auto;
  
          &.ativo {
            color: coral;
            background-color: aliceblue;
          }
  
          &:hover {
            color: coral;
            background-color: aliceblue;
          }
        } 
      }
    }
  }
}


/* MAIN */

main {
  background-color: rgb(236, 226, 198);

  &.sobre {
    padding: 3rem;
    font-family: monospace;

    h2 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 2.2rem;
      color: rgb(0, 160, 8);
    }

    p {
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 10rem;
      color: coral;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      text-align: justify;
    }

    .btn {
      text-align: center;

      p {
        font-size: 0.9rem;
        padding: 10px 25px;
        margin: 0;
        display: inline-block;
        border-radius: 8px;
        border: rgb(216, 140, 27) 2px solid;
        color: coral;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing:0.05em;
        cursor: pointer;
        margin: 2.2rem 0 1rem 0;
        background-color: aliceblue;

        &:hover {
          color: aliceblue;
          background-color: coral;
        }
      }
    }
  }

  .formGenerator {

    form {
      text-align: center;
      font-family: monospace;
      margin-bottom: 40px;
    }

    .slice {
      border: rgb(216, 140, 27) 2px dashed;
      border-radius: 20px;
      width: 480px;
      margin: 20px auto;
      padding-bottom: 20px;

      .title {
        font-size: 1.2rem;
        margin: 2.5rem 0 1.5rem 0;
        color: rgb(0, 160, 8);
      }
      
      .form-group {
        width: 400px;
        margin: 0 auto;

        .checkbox {
          display: flex;
          flex-direction: row;
        }

        label {
          color: coral;
          font-size: 1rem;
          font-weight: bold;
          display: block;
          margin-bottom: 0.3rem;
          margin-left: 0.2rem;
          text-align: left;

          &.radio-label {
            font-size: .85rem;
            font-weight: normal;
            display: inline;
            margin: 4px 10px 20px 5px;
          }
        }

        input {
          margin-bottom: 20px;
          width: 100%;
          height: 1.8rem;
          background-color: aliceblue;
          font-family: monospace;
          padding-left: 5px;
          color: rgb(216, 140, 27);
          border-color: transparent;
          border-radius: 8px;

          &#friendName {
            margin-bottom: 5px;
          }
        }

        input[type="radio"] {
          height: 1.5rem;
          width: auto;
        }

        span {
          display: block;
          padding-bottom: 5px;
          color: coral;
          font-size: 1rem;
          font-weight: bold;
        }

        select {
          width: 100%;
          height: 1.8rem;
          border-radius: 8px;
          background-color: aliceblue;
          font-family: monospace;
          padding-left: 5px;
          color: rgb(216, 140, 27);
          border-color: transparent;
          margin-bottom: 20px;
        }
      }

      .radio {
        text-align: left;
      }
    }

    .btn {
      width: 400px;
      margin: 0 auto;
      text-align: left;

      button {
        padding: 10px 25px;
        border-radius: 8px;
        border: rgb(216, 140, 27) 2px solid;
        color: coral;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing:0.05em;
        cursor: pointer;

        &:hover {
          color: aliceblue;
          background-color: coral;
        }
      }
    }
  }

}



/* FOOTER */
footer {
  background-color: rgb(216, 140, 27);

  div {

    &.container {
      display: flex;
    }
  }

  p {
    text-align: left;
    padding: 20px 0;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    color: aliceblue;
    /* font-weight: bold; */
    letter-spacing: .1em;
    display: inline-block;

    &.rights {
      flex: 1;
    }
  }

  div {
    &.container {

      .redes-sociais {
        display: inline-block;
        text-align: right;
      }

      a {
        text-decoration: none;
        color: aliceblue;
        margin-right: 40px;
        padding: 15px 0;

        &.twitter {
          &:hover {
            color: #1A91DA;
            border-top: 3px solid #1A91DA;

            p {
              color: #1A91DA;
            }
          }
        }

        &.facebook {
          &:hover {
            color: #4064AC;
            border-top: 3px solid #4064AC;

            p{
              color: #4064AC;
            }
          }
        }

        &.instagram {
          &:hover {
            color: #E9287C;
            border-top: 3px solid #E9287C;

            p{
              color: #E9287C;
            }
          }
        }
      }
    }
  }
}
