<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Gerador de Estórias - Sobre</title>
</head>
<body>

  <header>
    <div class="intro">
      <a href="./">
        <img src="/imgs/logo.png" alt="">
        <h1>Gerador <br/> de Estórias</h1>
      </a>
    </div>

    <div class="faixa">
      <div class="container">
        <div class="menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about" class="ativo">Sobre</a></li>
            <li><a href="/form">Formulário</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main class="sobre">
    <div class="container">
      <h2>:: Sobre o projeto ::</h2>
      <p>O projeto Gerador de Estórias surgiu da vontade de fazer. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nobis delectus corrupti quam.</p> 
      <p>consequuntur harum enim vitae? Voluptatem, qui hic excepturi dolor sed expedita tempore repellendus quae repellat illo dignissimos! Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> 
      <p>Excepturi dolores vero hic iure nobis laudantium quos iste magni error delectus similique veniam facere, quas laborum, tenetur enim ex repellendus libero?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur perspiciatis voluptates ipsa iusto quasi? Ab!</p>

      <div class="btn">
        <a href="./form">
          <p>Criar uma Estória</p>
        </a>
      </div>

    </div>
  </main> 

  <footer>
    <div class="container">
      <p class="rights">2021 - Thiago Gonçalves - Instituto Infnet</p>
      <div class="redes-sociais">
        <a href="#" class="twitter">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <p>Twitter</p>
        </a>
        <a href="#" class="facebook">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <p>Facebook</p>
        </a>
        <a href="#" class="instagram">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <p>Instagram</p>
        </a>
      </div>
    </div>
  </footer>
  
</body>
</html>