<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Gerador de Estórias - Home</title>
  <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
</head>

<body>
  
  <header>
    <div class="intro">
      <a href="./">
        <img src="/imgs/logo.png" alt="">
        <h1>Gerador <br/> de Estórias</h1>
      </a>
    </div>

    <div class="faixa">
      <div class="container">
        <div class="menu">
          <ul>
            <li><a href="/" class="ativo">Home</a></li>
            <li><a href="/about">Sobre</a></li>
            <li><a href="/form">Formulário</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="bloco">

    <main class="index-main">
      <div class="textos">
        <h2>Presenteie uma criança querida</h2>
        <p>Nenhuma estória encanta mais do que a sua.</p>
        <div class="btn">
          <a href="./form">
            <p>Criar uma Estória</p>
          </a>
        </div>
      </div>
      <div class="banner">
        <img src="/imgs/livro-e-crianca.png" alt="">
      </div>
    </main>

    
    <footer>
      <div class="container">
        <p class="rights">2021 - Thiago Gonçalves - Instituto Infnet</p>
        <div class="redes-sociais">
          <a href="#" class="twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <p>Twitter</p>
          </a>
          <a href="#" class="facebook">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <p>Facebook</p>
          </a>
          <a href="#" class="instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <p>Instagram</p>
          </a>
        </div>
      </div>
    </footer>

  </div>
  


</body>
</html>
