/* RESET */
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ece2c6;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* --------------------- */
/* HEADER */
header .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
header .intro a {
  display: flex;
  text-decoration: none;
  align-items: center;
}
header .intro img {
  width: 350px;
  margin-right: 2rem;
}
header .intro h1 {
  font-size: 3rem;
  font-family: monospace;
  color: #d88c1b;
}

header .faixa {
  background-color: coral;
  margin-top: 20px;
}

header .container {
  display: flex;
  flex-direction: row;
}
header .container .menu {
  width: 960px;
  text-align: center;
}
header .container .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .container .menu ul li {
  padding: 20px 0;
}
header .container .menu ul li a {
  text-decoration: none;
  color: aliceblue;
  padding: 21px 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 auto;
}
header .container .menu ul li a.ativo {
  color: coral;
  background-color: aliceblue;
}
header .container .menu ul li a:hover {
  color: coral;
  background-color: aliceblue;
}

.bloco {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bloco .index-main {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 4.5rem 0 4.5rem 0;
}
.bloco .index-main .textos {
  font-family: monospace;
}
.bloco .index-main .textos h2 {
  font-size: 2.2rem;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  color: #00a008;
}
.bloco .index-main .textos p {
  color: coral;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.bloco .index-main .banner img {
  width: 500px;
  text-align: left;
}

/* MAIN GERAL */
main {
  background-color: #ece2c6;
}
main.sobre {
  padding: 3rem;
  font-family: monospace;
}
main.sobre h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.2rem;
  color: #00a008;
}
main.sobre p {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10rem;
  color: coral;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  text-align: justify;
}
main.sobre .btn {
  text-align: center;
}
main.sobre .btn p {
  font-size: 0.9rem;
  padding: 10px 25px;
  margin: 0;
  display: inline-block;
  border-radius: 8px;
  border: #d88c1b 2px solid;
  color: coral;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  margin: 2.2rem 0 1rem 0;
  background-color: aliceblue;
}
main.sobre .btn p:hover {
  color: aliceblue;
  background-color: coral;
}
main .formGenerator form {
  text-align: center;
  font-family: monospace;
  margin-bottom: 40px;
}
main .formGenerator .slice {
  border: #d88c1b 2px dashed;
  border-radius: 20px;
  width: 480px;
  margin: 20px auto;
  padding-bottom: 20px;
}
main .formGenerator .slice .title {
  font-size: 1.2rem;
  margin: 2.5rem 0 1.5rem 0;
  color: #00a008;
}
main .formGenerator .slice .form-group {
  width: 400px;
  margin: 0 auto;
}
main .formGenerator .slice .form-group .checkbox {
  display: flex;
  flex-direction: row;
}
main .formGenerator .slice .form-group label {
  color: coral;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
  text-align: left;
}
main .formGenerator .slice .form-group label.radio-label {
  font-size: 0.85rem;
  font-weight: normal;
  display: inline;
  margin: 4px 10px 20px 5px;
}
main .formGenerator .slice .form-group input {
  margin-bottom: 20px;
  width: 100%;
  height: 1.8rem;
  background-color: aliceblue;
  font-family: monospace;
  padding-left: 5px;
  color: #d88c1b;
  border-color: transparent;
  border-radius: 8px;
}
main .formGenerator .slice .form-group input#friendName {
  margin-bottom: 5px;
}
main .formGenerator .slice .form-group input[type=radio] {
  height: 1.5rem;
  width: auto;
}
main .formGenerator .slice .form-group span {
  display: block;
  padding-bottom: 5px;
  color: coral;
  font-size: 1rem;
  font-weight: bold;
}
main .formGenerator .slice .form-group select {
  width: 100%;
  height: 1.8rem;
  border-radius: 8px;
  background-color: aliceblue;
  font-family: monospace;
  padding-left: 5px;
  color: #d88c1b;
  border-color: transparent;
  margin-bottom: 20px;
}
main .formGenerator .slice .radio {
  text-align: left;
}
main .formGenerator .btn {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}
main .formGenerator .btn button {
  padding: 10px 25px;
  border-radius: 8px;
  border: #d88c1b 2px solid;
  color: coral;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
}
main .formGenerator .btn button:hover {
  color: aliceblue;
  background-color: coral;
}

/* FOOTER */
footer {
  background-color: #d88c1b;
}
footer div.container {
  display: flex;
}
footer p {
  text-align: left;
  padding: 20px 0;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.8rem;
  color: aliceblue;
  /* font-weight: bold; */
  letter-spacing: 0.1em;
  display: inline-block;
}
footer p.rights {
  flex: 1;
}
footer div.container .redes-sociais {
  display: inline-block;
  text-align: right;
}
footer div.container a {
  text-decoration: none;
  color: aliceblue;
  margin-right: 40px;
  padding: 15px 0;
}
footer div.container a.twitter:hover {
  color: #1A91DA;
  border-top: 3px solid #1A91DA;
}
footer div.container a.twitter:hover p {
  color: #1A91DA;
}
footer div.container a.facebook:hover {
  color: #4064AC;
  border-top: 3px solid #4064AC;
}
footer div.container a.facebook:hover p {
  color: #4064AC;
}
footer div.container a.instagram:hover {
  color: #E9287C;
  border-top: 3px solid #E9287C;
}
footer div.container a.instagram:hover p {
  color: #E9287C;
}

/*# sourceMappingURL=style.css.map */
